@media screen and (max-width: 1050px) {
.presentation{
    flex-direction: column;
}

.introduction{
    margin-top: 5vh;
    text-align: center;

}

.intro-text h1{
    font-size: 30px;
}
.intro-text p{
    font-size: 18px;
}
.cta{
    padding: 10px 0px 0px 0px;
  }
  .eclipse{
    display: none;
  }
  .laptop-select{
      bottom:5%;
      right:50%;
      width: 50%;
      transform: translate(50%,5%);
  }
  .cover img{
    height: 80%;
  }
}


