@media (max-width: 1024px) {
  .carousel-caption {
    top: 30%;
  }

  .social a {
    font-size: 4rem;
    padding: 1.1rem;
    margin-left: 1em;
  }

  .carousel-control-next,
  .carousel-control-prev,
  .carousel-indicators {
    display: none;
  }

  .w-100 {
    width: auto !important;
  }

}

@media (max-width: 768px) {
  .padding {
    padding-bottom: 0px;
  }

  .w-100 {
    width: auto !important;
  }

  .my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .btn-primary {
    margin-bottom: 1em;
  }

  .card {
    margin-bottom: 1em;
  }

  .carousel-caption {
    top: 10%;
  }

  .carousel-caption h1 {
    font-size: 350%;
  }

  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 500;
    padding-bottom: 0.2rem;
  }

  .carousel-caption .btn {
    width: 50%;
    padding: 8px 14px;
    margin: 10px;
  }

  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 3em;
    padding: .1em;
    margin-left: 1.2em;
  }

  .carousel-indicators {
    display: none;
  }
}

@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  .carousel-caption h1 {
    font-size: 100%;
  }

  .carousel-caption h3 {
    font-size: 110%;
    font-weight: 500;
    padding-bottom: 0.2rem;
  }

  .carousel-caption .btn {
    width: 90%;
    padding: 4px 8px;
  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 160%;
  }

  .social {
    text-align: center;
  }

  .social a {
    font-size: 2.4em;
    padding: 0;
    margin: 1em 0 1em .3em;

  }
}